@charset "utf_8";
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.navbar-brand::first-letter{
    font-size: 1.5em;

}

body{
    background: #8293ac;
}

main{
    background: #e7e7e7;
}

header{
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

h2 {
    color:dodgerblue;
}

input[type="file"] {
    display: none;
}

footer{
    margin-top: 50px;
    height: 2em;
    background: #f0f0f0;
}

footer p{
    text-align:center;
    line-height: 2em;
}

.align-right{
    text-align: right;
}

.texte-centre{
    text-align: center;
}

.prenom{
    color:cornflowerblue;
}
